<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>App Empleados</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
	<div class="container mt-4">

		<table class="table">
			<thead>
				<th>
				<th>id </th>
				<th>name </th>
				<th>surname</th>
				
				</tr>

			</thead>
			<tbody>
				<tr th=each"empleado:${empleados}">
					<td>${empleado.id}</td>
					<td>${empleado.name}</td>
					<td>${empleado.surname}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>